body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2289ce;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 20px;
    color: rgb(3, 3, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header input[type="text"],
header input[type="date"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

header button {
    padding: 8px 20px;
}

main {
    padding: 20px;
    background: #2289ce;
}

h2 {
    margin-top: 20px;
    color: rgb(3, 3, 0);
    font-size: medium;
    background-color: #2289ce;
}
h3{
    margin-top: 20px;
    color: rgb(3, 3, 0);
    font-size: medium;
    background-color: #2289ce;
}
h4 {
    margin-left: 90%;
}
ul {
    padding: 0;
    list-style-type: none;
}


footer {
    background-color: #2289ce;
    padding: 20px;
    text-align: center;
    margin-top: 0%;
    font-size: small;
    margin-bottom: 100% ;
}
